{% extends "app/base.html" %}
{% load static %}
{% load thumbnail %}

{% load django_tables2 %}
{% load crispy_forms_tags %}
{% block content_title %} {{ object.title }} {% endblock %}
{% block content %}
    <table class="table border">
        <tbody>
         
            <tr>
                <td>title</td>
                <td>{{ object.title }}</td>
            </tr>
         
            <tr>
                <td>slug</td>
                <td>{{ object.slug }}</td>
            </tr>
         
            <tr>
                <td>text</td>
                <td>{{ object.text }}</td>
            </tr>
         
            <tr>
                <td>categories</td>
                <td>{{ object.categories }}</td>
            </tr>
         
            <tr>
                <td>created</td>
                <td>{{ object.created }}</td>
            </tr>
         
            <tr>
                <td>updated</td>
                <td>{{ object.updated }}</td>
            </tr>
         
            
        </tbody>
    </table>
<a class="btn btn-primary pull-right" href="{{ object.get_update_url }}"><i class="fa fa-arrow-left"></i> Edit Content</a>
{% endblock %}
{% block bottom_content %}
<a class="btn btn-primary pull-right" href="{% url 'content_list' %}"><i class="fa fa-arrow-left"></i> Daftar Content</a>
{% endblock bottom_content%}