{% extends "app/base.html" %}
{% load static %}
{% load thumbnail %}

{% load django_tables2 %}
{% load crispy_forms_tags %}
{% block content_title %} {{ object.name }} {% endblock %}
{% block content %}
    <table class="table border">
        <tbody>
         
            <tr>
                <td>name</td>
                <td>{{ object.name }}</td>
            </tr>
         
            <tr>
                <td>slug</td>
                <td>{{ object.slug }}</td>
            </tr>
         
            <tr>
                <td>description</td>
                <td>{{ object.description }}</td>
            </tr>
         
            <tr>
                <td>created</td>
                <td>{{ object.created }}</td>
            </tr>
         
            <tr>
                <td>updated</td>
                <td>{{ object.updated }}</td>
            </tr>
         

        </tbody>
    </table>

<form method="post" >
     {% csrf_token %}

    <p>Do you want to delete this data?</p>

    <button class="btn btn-danger" type="submit">Delete</button>
</form>

{% endblock %}